<ul class="list-group">
  <h3>les derniers articles publiés</h3>
  <app-post-list-item [title]="'AngularJS vs Angular 2 et +'"
                      [content]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'"
                      [dateUpdate]="'01/10/2018'"
                      [numberLike]="0"
                      [numberDontlike]="0">
  </app-post-list-item>
  <app-post-list-item [title]="'Premier pas avec Angular'"
                      [dateUpdate]="'03/09/2018'"
                      [content]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'"
                      [numberLike]="0"
                      [numberDontlike]="0">
  </app-post-list-item>
  <app-post-list-item [title]="'Angular c\'est génial'"
                      [dateUpdate]="'09/08/2018'"
                      [content]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'"
                      [numberLike]="0"
                      [numberDontlike]="0">
  </app-post-list-item>
</ul>
